@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: #43423E;
}
a {
  text-decoration: none;
  color: #5C7FB8;
}
a:hover {
  text-decoration: underline;
}
.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
}
.container {
  margin: 0 auto;
  /* width: 780px; */
  /* height: 100vh; */
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
  padding:0;
}
.hero {
  height: 342px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size:cover;
  background-origin: 0% 0%;
  background-repeat: no-repeat;
}
.hero:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;

  z-index: -1;
  transform: skewY(-2.2deg);
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
}
.details {
  padding: 50px 0 0 100px;
}
.details .title1 {
  color: white;
  font-size: 30px;
  margin-bottom: 18px;
  position: relative;
}
.details .title1 span {
  position: absolute;
  top: 3px;
  margin-left: 12px;
  background: #C4AF3D;
  border-radius: 5px;
  color: #544C21;
  font-size: 14px;
  /* padding: 0px 4px; */
}
.details .title2 {
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 2px;
}


.likes{
  background:#C4AF3D;
 color: white;
  font-weight: 500;
  height:1.5em;
  font-size:1em;
  border: 1px solid #C4AF3D;
  border-radius:5px;
  cursor:pointer;
  max-width: 150px;
  margin: 0 auto;

}

.likes:hover{
  background: #C4AF30;
}

.description {
  bottom: 0px;
  /* height: 200px; */
  font-size: 16px;
  line-height: 20px;
  color: #B1B0AC;
  padding-top:1em;
  padding-bottom:1em;
}
.column1 {
  padding-left: 1em;
  padding-top: 30px;
  /* width: 220px; */
  /* float: left; */
  text-align: center;
}
.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}
.tag:hover {
  background: #ddd;
}
.column2 {
  padding-left: 20px;
  padding-top: 15px;
  margin-left: 10px;
  /* width: 480px; */
  /* float: left; */
}

a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before, a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}
a[data-tooltip]:hover::before, a[data-tooltip]:hover::after {
  display: block;
}
/** positioning **/
/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}
a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}
