<div class="my-2">
    <h1>Login</h1>
    <hr>
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]='loginForm'  (ngSubmit)='login()'>
        <div class="form-group" [ngClass]="{'error':!validateEmail() }">
          <label for="email">Email:</label>
          <div class="alert alert-danger" *ngIf="!validateEmail()">Email is Required</div>

          <input formControlName='email' id="email" type="text" class="form-control" placeholder="Email..." />
        </div>
        <div class="form-group" [ngClass]="{'error':!validatePassword()}" >
          <label for="password">Password:</label>
          <div class="alert alert-danger" *ngIf="!validatePassword()">Password is Required</div>
          <input formControlName='password' id="password" type="password" class="form-control"placeholder="Password..." />
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
      </form>
</div>
